<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.song">
    //---------------- Bugly start------------------------------
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    //---------------- Bugly end--------------------------------

    //---------------- 七牛 start------------------------------
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    //---------------- 七牛 end--------------------------------

    //---------------- Glide start--------------------------------
    <uses-permission android:name="android.permission.INTERNET" />
    //---------------- Glide end--------------------------------

    //---------------------------测试DSLV拖动排序需要震动权限
    <uses-permission android:name="android.permission.VIBRATE" />
    //---------------------------测试DSLV拖动排序需要震动权限


    //---------------------------测试悬浮窗----------------------
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 入口 -->
        <activity android:name=".EntranceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 共享元素 -->
        <activity
            android:name=".demo.views.shared_element.SharedElementActivityA"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.views.shared_element.SharedElementActivityB"
            android:screenOrientation="portrait" />

        <!-- TestMain -->
        <activity
            android:name=".TestMainActivity"
            android:screenOrientation="portrait" />

        <!-- HomeWorkMain -->
        <activity
            android:name=".homework.HomeworkMain"
            android:screenOrientation="portrait" />

        <!-- DemoMain -->
        <activity
            android:name=".demo.DemoMain"
            android:screenOrientation="portrait" />
        <!-- ViewsMain-->
        <activity
            android:name=".demo.views.ViewsMain"
            android:screenOrientation="portrait" />
        <!-- CustomView-->
        <activity
            android:name=".demo.views.custom_view.CustomViewActivity"
            android:screenOrientation="portrait" />

        <!-- FloatingWindow-->
        <activity
            android:name=".demo.views.floating_window.FloatingWindowMain"
            android:screenOrientation="portrait" />
        <!-- Vector -->
        <activity
            android:name=".demo.views.vector.VectorActivity"
            android:screenOrientation="portrait" />
        <!-- VideoPlayer -->
        <activity
            android:name=".demo.media.player.PiliVideoPlayerActivity"
            android:theme="@style/AppThemeFullscreen" />
        <!-- AudioPlayer -->
        <activity
            android:name=".demo.media.player.PiliAudioPlayerActivity"
            android:screenOrientation="portrait" />
        <!-- Rebound效果 -->
        <activity android:name=".demo.views.rebound.ReboundActivity" />
        <!-- 测试DialogFragment -->
        <activity
            android:name=".demo.views.dialogfragment.DialogFragmentMain"
            android:screenOrientation="portrait" />
        <!-- PlayerMain -->
        <activity
            android:name=".demo.media.PlayerMain"
            android:screenOrientation="portrait" />
        <!-- 测试RecyclerView -->
        <activity android:name=".demo.views.recycler_view.RecyclerViewMain" />
        <!-- 测试CoordinatorLayout -->
        <activity android:name=".demo.views.material_design.CoordinatorLayoutMain" />
        <!-- 拖动排序控件 -->
        <activity android:name=".demo.views.dragsort.DSMain" />
        <activity android:name=".demo.views.dragsort.DslvMain" />
        <activity android:name=".demo.views.dragsort.DsgvMain" />
        <!-- 测试ViewPager -->
        <activity
            android:name=".demo.views.view_pager.ViewPagerMain"
            android:screenOrientation="portrait" />

        <activity android:name=".kotlin.KotlinActivity" />
        <activity android:name=".kotlin.KotlinThread" />
        <activity android:name=".kotlin.KaptActivity" />
        <activity android:name=".kotlin.AnkoActivity" />
        <activity android:name=".kotlin.KotlinMain" />
        <activity android:name=".kotlin.DSLActivity" />
        <activity android:name=".kotlin.demo.GithubList" />


        <service android:name=".demo.views.floating_window.service.FloatingWindowService" />
    </application>

</manifest>