<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.song">

    //----------------  Bugly start------------------------------
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    //----------------  Bugly end--------------------------------

    //----------------  七牛 start------------------------------
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    //----------------  七牛 end--------------------------------


    <application
        android:name="com.example.song.application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.song.EntranceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.song.homework.shared_element.SharedElementActivityA"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.song.homework.shared_element.SharedElementActivityB"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.song.TestMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.song.homework.HomeworkMain"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.song.demo.DemoMain"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.song.homework.vector.VectorActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".demo.media.player.PiliVideoPlayerActivity"
            android:theme="@style/AppThemeFullscreen" />
        <activity android:name=".demo.media.player.PiliAudioPlayerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".homework.rebound.ReboundActivity"/>
        <activity android:name=".demo.dialogfragment.DialogFragmentMain"
            android:screenOrientation="portrait"/>
        <activity android:name=".demo.media.PlayerMain"
            android:screenOrientation="portrait"/>
        <activity android:name=".demo.recyclerview.RecyclerViewMain"/>
        <activity android:name=".demo.material_design.CoordinatorLayoutMain"/>
    </application>

</manifest>